<div class="individual center">

User: <%= @order.user.email %><br>


<% ordered_products.each do |item| %>
  <%= item.name %>
  <%= item.quantity %>
  <%= item.price %>
<% end %>


Product: <%= @order.product.name %><br>
Quantity purchased: <%= @order.quantity %><br>

Subtotal: <%= number_to_currency(@order.subtotal) %><br>
Tax: <%= number_to_currency(@order.tax) %><br>
Total: <%= number_to_currency(@order.total) %><br>

</div>
