<h2>Cart</h2>

<% @cart.each do |item| %>
  <b><%= item.product.name %></b>: <%= number_to_currency(item.product.price) %> (<%= item.quantity %>) -
  <%= link_to 'Remove', "/carted_products/#{item.id}", method: :delete %><br>
<% end %>

<br> <%= link_to 'Place Order', '/orders', method: :post, class: "btn btn-default submit-button" %>