<div class="container">

<h1>Soaps.</h1>

<div class="row">

  <% @products.each do |product| %>

  <div class="product-box col-md-4 col-lg-4">

    <img src="<%= product.image %>" alt="<%= product.description %>" class="img-responsive center-block"> <br>

    <div class="description-box">
      <b><%= product.name.upcase %></b> <br>   
      $<%= product.price %> <br>
      <i><%= product.description %></i>
    </div>

  </div>

<% end %>

</div>
</div>