<div class="center">

<h1>Soaps.</h1>

<div class="row">

  <% @products.each do |product| %>

  <div class="product-box col-sm-1 col-md-3 col-lg-3">
    
    <a href="/store/<%= product.id %>"><img src="<%= product.image %>" alt="<%= product.description %>" class="thumbnail img-responsive center-block"></a>

    <br>

    <div class="description-box">
      <span id="bigger-text">
        <%= link_to product.name.upcase, "/store/#{product.id}" %>
      </span> <br>
      <b>$<%= product.price %></b> <br>
      <i><%= product.description %></i>
    </div>

  </div>

<% end %>

</div>
</div>